<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        let isLoading = false;

        async function resendResetPassword() {
            try {
                const response = await fetch('{{ host_url }}netpoll/re-send/reset-password', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: "{{ user.email }}",
                    }),
                });

                const data = await response.json();
                if (response.status === 201) {
                    window.location.href = `{{ host_url }}netpoll/reset-password/page-reset-password?token=${data.data.token}`;
                    return;
                }
                if (response.status === 404) {
                    window.location.href = `{{ netpoll_url }}not-found`;
                    return;
                }
            } catch (error) {
                console.error('Error:', error.message);
                alert('Error resending verification email. Please try again later.');
            } finally {
                isLoading = false;
            }
        }

        function handleClick() {
            if (isLoading) {
                return;
            }
            isLoading = true;
            resendResetPassword();
        }
    </script>
</head>

<body class="bg-black">
    <section class="w-full min-h-screen flex flex-col pt-8 pb-5 items-center justify-center">
        <div class="bg-[#1c1c1e] w-[80%] md:w-[60%] xl:w-[45%] mx-auto rounded-md p-8">
            <p class="text-center text-white font-semibold">Great {{ user.username }}, now you can reset password</p>
            <img src="{{ url_for('static', filename='image/iconEmailVerification.png') }}" alt="Email Verification Icon" class="w-[20%] mx-auto" />
            <p class="text-gray-400 text-sm">
                Check your inbox at <span class="text-gray-300">{{ user.email }}</span> and click the reset password link inside to complete your change password.
                This link will expire in 5 minutes, so verify soon!
            </p>
            <br />
            <div class="flex flex-col mb-3">
                <p class="text-gray-400 text-sm">
                    <span class="font-semibold text-gray-300">
                        Don't receive the email?
                    </span>
                    Check your spam folder.
                </p>
                <p
                    class="text-blue-500 text-sm underline cursor-pointer"
                    onclick="handleClick()"
                >
                    Resend Reset Password
                </p>
            </div>
        </div>
    </section>
</body>
</html>
