<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
</head>

<body class="bg-black h-screen flex items-center justify-center">
    <section class="w-full h-screen bg-black flex items-center justify-center">
        <div class="bg-[#1c1c1e] w-[40%] mx-auto p-8 rounded-md mt-10">
            <img src="http://localhost:3000/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficon_from_1.1a2cec45.png&w=256&q=75" alt="logo" class="mx-auto" style="width: 100px; height: 100px;" />
            <h1 class="text-white text-center text-xl font-semibold pb-2">Welcome Back</h1>
            <div class="flex flex-row mb-2 justify-center text-sm">
                <div class="text-[#999999] me-1">Don't Have an account?</div>
                <a href="/login" class="ms-1 text-blue-500 hover:text-blue-600 underline">Register</a>
            </div>
            <form id="passwordForm" method="POST">
                <div class="mb-3">
                    <div class="relative flex-1">
                        <span class="mdi mdi-lock h-5 w-5 absolute left-3 top-1/2 transform -translate-y-[calc(50%+2px)] text-gray-500"></span>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="password"
                            value="{{ password if password else '' }}"
                            class="text-white pl-10 pr-10 border border-gray-300 rounded-md p-1 w-full focus:outline-none bg-transparent"
                        />
                        <span id="passwordVisibilityToggle" class="absolute right-3 top-1/2 transform -translate-y-[calc(50%+0.5px)] text-gray-500 cursor-pointer">
                            <span class="mdi mdi-eye"></span>
                        </span>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="relative flex-1">
                        <span class="mdi mdi-lock h-5 w-5 absolute left-3 top-1/2 transform -translate-y-[calc(50%+2px)] text-gray-500"></span>
                        <input
                            type="password"
                            id="confirmPassword"
                            name="confirmPassword"
                            value="{{ confirm_password if confirm_password else '' }}"
                            placeholder="confirm password"
                            class="text-white pl-10 pr-10 border border-gray-300 rounded-md p-1 w-full focus:outline-none bg-transparent"
                        />
                        <span id="confirmPasswordVisibilityToggle" class="absolute right-3 top-1/2 transform -translate-y-[calc(50%+0.5px)] text-gray-500 cursor-pointer">
                            <span class="mdi mdi-eye"></span>
                        </span>
                    </div>
                </div>
                {% for error in errors %}
                    <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}

                <button type="submit" class="{% if errors %}mt-5{% else %}mt-2{% endif %} text-sm text-white bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded-md w-full">
                    Submit
                </button>
            </form>
        </div>
    </section>

    <script>
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const passwordToggle = document.getElementById('passwordVisibilityToggle');
        const confirmPasswordToggle = document.getElementById('confirmPasswordVisibilityToggle');

        let showPassword = false;
        let showConfirmPassword = false;

        passwordToggle.addEventListener('click', () => {
            showPassword = !showPassword;
            passwordInput.type = showPassword ? 'text' : 'password';
            passwordToggle.innerHTML = showPassword ? '<span class="mdi mdi-eye-off"></span>' : '<span class="mdi mdi-eye"></span>';
        });

        confirmPasswordToggle.addEventListener('click', () => {
            showConfirmPassword = !showConfirmPassword;
            confirmPasswordInput.type = showConfirmPassword ? 'text' : 'password';
            confirmPasswordToggle.innerHTML = showConfirmPassword ? '<span class="mdi mdi-eye-off"></span>' : '<span class="mdi mdi-eye"></span>';
        });
    </script>
</body>

</html>
